/**
	*Description:This is for put style on canvas contents and controls
	*Color Reference:
	*gray: #D3C9BE
    *blue: #0947A3
    *blue: #06357B
*/

.box {
	margin: 43px 0px 50px 19px;
}

#dna {
    position: absolute;
    left: 13.5%;
    top: 57%;
    width: 10%;
    background-color: #0947A3;
    border-radius:40px;
    -ms-transform:skew(-10deg); /* IE 9 */
    -webkit-transform:skew(-10deg); /* Safari */
    transform:skew(-10deg); /* Standard syntax */    
}

#rna {
    position: absolute;
    left: 24.5%;
    top: 57%;
    width: 10%;
    background-color: #0947A3;
    border-radius: 40px;
    -ms-transform:skew(-5deg); /* IE 9 */
    -webkit-transform:skew(-5deg); /* Safari */
    transform:skew(-5deg); /* Standard syntax */     
}

#protein {
    position: absolute;
    left: 36%;
    top: 57%;
    width: 10%;
    background-color: #0947A3;
    border-radius: 40px;    
}

#OD {
    position: absolute;
    left: 12.8%;
    top: 62%;
    width: 10%;
    height: 4.5%;
    background-color: #0947A3;
    border-radius: 40px;
    -ms-transform: skew(-10deg);
    -webkit-transform: skew(-10deg);
    transform: skew(-10deg);  
}

#dye550 {
    position: absolute;
    left: 24.5%;
    top: 62%;
    width: 10%;
    height: 4.5%;
    background-color: #0947A3;
    border-radius: 40px;
    -ms-transform:skew(-5deg); /* IE 9 */
    -webkit-transform:skew(-5deg); /* Safari */
    transform:skew(-5deg); /* Standard syntax */     
}

#dye650 {
    position: absolute;
    left: 36%;
    top: 62%;
    width: 10%;
    height: 4.5%;
    background-color: #0947A3;
    border-radius: 40px;    
}

#assay340 {
    position: absolute;
    left: 12%;
    top: 67.5%;
    width: 10%;
    height: 5%;
    background-color: #0947A3;
    border-radius: 40px;
    -ms-transform: skew(-10deg);
    -webkit-transform: skew(-10deg);
    transform: skew(-10deg);  
}

#assay405 {
    position: absolute;
    left: 24%;
    top: 67.5%;
    width: 10%;
    height: 5%;
    background-color: #0947A3;
    border-radius: 40px;
    -ms-transform:skew(-5deg); /* IE 9 */
    -webkit-transform:skew(-5deg); /* Safari */
    transform:skew(-5deg); /* Standard syntax */     
}

#assay490 {
    position: absolute;
    left: 36%;
    top: 67.5%;
    width: 10%;
    height: 5%;
    background-color: #0947A3;
    border-radius: 40px;    
}

#absorbance {
    position: absolute;
    left: 11.5%;
    top: 73.5%;
    width: 10.5%;
    height: 5.5%;
    background-color: #0947A3;
    border-radius: 40px;
    -ms-transform: skew(-10deg);
    -webkit-transform: skew(-10deg);
    transform: skew(-10deg);  
}

#function {
    position: absolute;
    left: 23.5%;
    top: 73.5%;
    width: 10.5%;
    height: 5.5%;
    background-color: #D6D6D6;
    border-radius: 40px;
    -ms-transform:skew(-5deg); /* IE 9 */
    -webkit-transform:skew(-5deg); /* Safari */
    transform:skew(-5deg); /* Standard syntax */     
}

#parameter {
    position: absolute;
    left: 36%;
    top: 73.5%;
    width: 10.5%;
    height: 5.5%;
    background-color: #D6D6D6;
    border-radius: 40px;    
}

#standard {
    position: absolute;
    left: 51.6%;
    top: 48%;
    width: 10%;
    height: 10%;
    border-radius: 100%;
    background-color: #0947A3;
    color: #ffffff;
    font-weight: bold;
    cursor:pointer;
}

#blank {
    position: absolute;
    left: 61.4%;
    top: 53.5%;
    width: 10%;
    height: 10%;
    border-radius: 100%;
    background-color: #D6D6D6;
    color: #0947A3;
    font-weight: bold;
    border-color: #0947A3;
    cursor:pointer;
}

#sample {
    position: absolute;
    left: 72.2%;
    top: 56%;
    width: 10%;
    height: 10%;
    border-radius: 100%;
    background-color: #0947A3;
    color: #ffffff;
    font-weight: bold;
    cursor:pointer;
}

#clear {
    position: absolute;
    left: 71%;
    top: 66.5%;
    width: 12%;
    height: 6%;
    background-color: #D6D6D6;
    border-radius: 40px;
    color: #0947A3;
    font-weight: bold;
    border-color: #0947A3;
    -ms-transform:skew(3deg); /* IE 9 */
    -webkit-transform:skew(3deg); /* Safari */
    transform:skew(3deg); /* Standard syntax */   
    cursor:pointer;    
}

#enter {
    position: absolute;
    left: 72%;
    top: 73%;
    width: 12%;
    height: 6%;
    background-color: #D6D6D6;
    border-radius: 40px;
    color: #0947A3;
    font-weight: bold;
    border-color: #0947A3;
    -ms-transform:skew(5deg); /* IE 9 */
    -webkit-transform:skew(5deg); /* Safari */
    transform:skew(5deg); /* Standard syntax */
    cursor:pointer;    
}

#clear:active {
    background: #D3C9BE;
}

#enter:active {
    background: #D3C9BE;
}

#resetBtn {
    margin: 0px 0px 0px 43px;
    cursor: pointer;
    width: 62%;
}

/* General button style (reset) */
.btn {
	border: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 25px 80px;
	display: inline-block;
	margin: 15px 30px;
	letter-spacing: 1px;
	font-weight: 100;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn-2 {
	background: #06357B;
	color: #ffffff;
	box-shadow: 0 4px #06357B;
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
}

.btn-3 {
	background: #06357B;
	color: #0947A3;
    font-weight: bold !important; 
	box-shadow: 0 4px #06357B;
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
}

.btn-2g {
	border-radius: 10%;
}

.btn-2g:active {
	box-shadow: 0 0 #06357B;
	top: 6px;
}

.btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

*, *:after, *:before { 
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box; 
}

#instructionContents{
    margin: 0px 0px 0px 13px;
	font-size: 13px;
	font-weight: bold;
	color: #373737;
}

.textIndend {
	margin: 22px 0px -5px 16px;
	font-size: 13px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #373737;
	height: 14px;
 	display: table;
	width: 90%;
    text-align: left !important;
    table-layout: fixed;
    word-wrap: break-word;
}

.captions {
	position: relative;
	left: 10px;
	top: 10px;
	z-index: 999;
	text-align: left;
	width: 100%;
	height: 100%;
}

.captions * {
	position: absolute;
}

@media (max-width: 1023px) {
#canvasBox .buttons {
	background: #ffffff !important;
	padding: 2% 3% !important;
	margin: 3px !important;
}

.checkBoxClass {
	margin: 13px 5% 1% 20%;
}