.pure-img-responsive {
    max-width: 100%;
    height: auto;
}
/*
Add transition to containers so they can push in and out.
*/
#layout,
#menu,
.menu-link {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

/*
This is the parent `<div>` that contains the menu and the content area.
*/
#layout {
    position: relative;
}
    #layout.active {
        position: relative;
        right: 0px;
    }	
	#layout.active.main {
		position:absolute;
		width:100%;
		height:100%;
		top:0;
		bottom:0;
		right:0;
		left:0;
		z-index:1;
	}
        #layout.active #menu {
			top:75px;
            right: 320px;
            width: 320px;
			z-index:15;
        }
        #layout.active .menu-link {
			top:106px;
            right: 296px;
			z-index:2000005 !importanT;
        }
/*
The content `<div>` is where all your content goes.
*/

#menu {
    margin-right: -325px; /* "#menu" width */
    width: 300px;
    position: absolute;
	top:75px;
    right: 0;
    bottom: 0;
    z-index: 100000 !important; /* so the menu or its navicon stays above all content */
	overflow:visible;
    -webkit-overflow-scrolling: touch;
}

/* -- Dynamic Button For Responsive Menu -------------------------------------*/

/*
The button to open/close the Menu is custom-made and not part of Pure. Here's
how it works:
*/

/*
`.menu-link` represents the responsive menu toggle that shows/hides on
small screens.
*/
.menu-link {
    position: absolute;
    display: block; /* show this only on small screens */
    top: 106px;
    right: 0; /* "#menu width" */
    background: #000;
    background: rgba(0,0,0,0.7);
    font-size: 10px; /* change this value to increase/decrease button size */
    z-index: 10000 !important;
    width: 1em;
    height: auto;
    padding: 1.1em 0.9em;
}
    .menu-link:hover,
    .menu-link:focus {
        background: #000;
    }
    .menu-link span {
        position: relative;
        display: block;
    }
    .menu-link span,
    .menu-link span:before,
    .menu-link span:after {
        background-color: #fff;
        width: 100%;
        height: 0.2em;
    }
        .menu-link span:before,
        .menu-link span:after {
            position: absolute;
            margin-top: -0.6em;
            content: " ";
        }

        .menu-link span:after {
            margin-top: 0.6em;
        }

.buttons {
	position: relative;
	display:inline-block;
	padding: 2% 2% 2% 7% !important;
	margin:5px;
	font-size: 13px;
	color: #333;
	text-align:center;
	background-size:contain;
}

#Statistics {
	background: url(statisticsIcon.png) 5px center no-repeat !important;
}

#dataPlots {
	background: url(dataPlotIcon.png) 5px center no-repeat !important;
}

#workSheets {
	background: url(worksheetIcon.png) 5px center no-repeat !important;
}

#triButton {
	position: absolute;
	top: 90%;
	width: 99%;
	height: 100%;
	text-align:center;
	
	z-index:9999;
}

.captions {
	position:relative;
	left:10px;
	top:10px;
	
	z-index:999;
	text-align:left;
	width:100%;
	height:100%;
}

.captions * {
	position:absolute;
}

/* -- Responsive Styles (Media Queries) ------------------------------------- */